*{
    font-family: 'Segoe UI';
}

#forgot{
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    width:500px;
    margin-left: 30%;
    margin-top: 10%;
    padding: 30px;
}

#forgotp{
    text-align: center;
}

#instruction{
    text-align: center;
    margin-top: -15px;
    margin-right: 15px;
    color: gray;
}

#forgot label{
    margin-top: 15px;
    margin-bottom: 6px;
}

#forgot input{
    padding: 10px;
    border-radius: 9px;
    border:0.6px solid gray;
}

#forgot button{
    margin-top: 20px;
    background-color: rgb(247, 78, 17);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
}

#forgot button:hover{
    cursor: pointer;
    background-color: rgb(245, 122, 78);
    color: black;
}