*{
    font-family: 'Segoe UI';
}

#login{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    width: 500px;
    margin-left: 29%;
    padding: 40px;
    margin-top: 110px;
}

#login input{
    padding: 15px;
    border-radius: 10px;
    border: 0.6px solid gray;
    margin-bottom: 9px;
}

#log{
    border-radius: 20px;
    border: none;
    padding: 12px;
    color: white;
    background-color: #FF6002;
    font-weight: bold;
    margin-top: 5px;
}

#forgot{
    border-radius: 20px;
    border: none;
    padding: 12px;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
}

#create{
    border-radius: 20px;
    text-decoration: none;
    border: 0.6px solid #FF6002;
    padding: 12px;
    color: #FF6002;
    background-color: white;
    font-weight: bold;
    margin-top: 40px;
}


#login #log:hover{
    cursor: pointer;
    background-color: #f18d4f;
    color: white;
    border: 1px solid black;
}

#login #forgot:hover{
    cursor: pointer;
    background-color: lightgray;
}

#login #create:hover{
    cursor: pointer;
    background-color: rgb(235, 233, 233);
}